/* for whole container */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main body part */
body{
    font-family: 'Times New Roman', Times;
    margin:20px;
    background-color: cadetblue;
}

/* h1 style */
h1{
    background-color: aliceblue;
    border-radius: 30px;
    width: 50%;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

input[type="text"] {
    font-size: 1.5rem;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
  }

label{
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.container{
    background-color: bisque;
    border-radius: 3%;
    width: 70%;
    margin: auto;
    box-shadow: -1px -1px 6px 8px #7e7e7e;
}

select{
    width: 100%;
    background-color: rgb(255, 226, 198);
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: rgb(139, 139, 139);
}

input[type="date"]{
    background-color: rgb(255, 226, 198);
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: rgb(139, 139, 139);
}

input[type="submit"]{
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

td {
    padding: 10px;
}

.category-cell {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.personal {
    background-color: lightblue; 
}

.work {
    background-color: lightgreen;
}

.school {
    background-color: lightyellow;
}

.cleaning {
    background-color: lightpink;
}

.other {
    background-color: lightgrey;
}

.delete-button{
    padding-bottom: 10px;
}